h1 {
  font-family: Lobster, sans-serif;
  color: white;
  margin-top: 5%;
}
body {
  background: #404040;
  text-align: center;
}
.run {
  font-size: 50px;
  margin-top: 50px;
}
.set-time {
  min-width: 350px;
  margin-top: 5%;
}
.set-time span {
  display: inline-block;
  width: 30px;
  font-size: 15px;
  text-align: center;
  color: white;
}
.btns {
  margin-top: 25px;
  margin-bottom: 25px;
}
.btns button {
  width: 155px;
  text-align: center;
}
.btn-rest {
  text-align: left;
}
.btn-work {
  text-align: right;
}
.touch {
  color: white;
}
.progress-bar {
  width: 0px;
}
.wrapper {
  width: 350px;
  height: 440px;
  position:fixed;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -220px;
}
